@inherits LayoutComponentBase

<GalaxyHeader />
<BlazoredToasts />

<div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <NavMenu />
        </div>
        <div class="col-10">
            @Body
        </div>
    </div>
</div>
