@page "/categorias/list"
@inject ICategoriaProxy CategoriaProxy
@inject IToastService ToastService
@inject SweetAlertService Swal
@inject NavigationManager NavigationManager

<PageTitle>Categorias</PageTitle>

<ListaGenerica TItem="CategoriaDtoResponse" Lista="Categorias" Titulo="Lista de Categorias" BotonNuevo="CrearCategoria">
    <Cabeceras>
        <th class="table-primary text-center">Id</th>
        <th class="table-primary text-center">Nombre</th>
        <th class="table-primary text-center">Descripcion</th>
        <th class="table-primary text-center">Acciones</th>
    </Cabeceras>
    <Detalles>
        <td>@context.Id</td>
        <td>@context.Nombre</td>
        <td>@context.Descripcion</td>
        <td>
            <BotonesAccion TItem="CategoriaDtoResponse" 
                           Item="context"
                           BotonEditar="Editar" BotonEliminar="Eliminar" />
        </td>
    </Detalles>
</ListaGenerica>

<LoadingComponent IsLoading="IsLoading" />

@code {

    public ICollection<CategoriaDtoResponse>? Categorias { get; set; }

    public bool IsLoading { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            IsLoading = true;

            Categorias = await CategoriaProxy.ListAsync();

        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
        finally
        {
            IsLoading = false;
        }
    }

    private void CrearCategoria()
    {
        NavigationManager.NavigateTo("/categorias/nuevo");
    }

    private void Editar(CategoriaDtoResponse entidad)
    {
        NavigationManager.NavigateTo($"/categorias/editar/{entidad.Id}");
    }

    private async Task Eliminar(CategoriaDtoResponse entidad)
    {
        var result = await Swal.FireAsync(new SweetAlertOptions()
        {
            Title = "¿Desea eliminar este registro?",
            Icon = SweetAlertIcon.Question,
            ShowCancelButton = true
        });

        if (result.IsConfirmed)
        {
            await CategoriaProxy.DeleteAsync(entidad.Id);
            await OnInitializedAsync();
        }
    }
}
